<%- include('../layout/header') -%>
	<style>
		.color-circle {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 1px solid #ccc;
			display: inline-block;
		}
	</style>

	<body class="goto-here">
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container">
				<a class="navbar-brand" href="/">AudiVerse</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
					aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="oi oi-menu"></span> Menu
				</button>

				<div class="search-box-container">
					<div class="search-box">
						<input type="text" class="input-search" id="searchInput" placeholder="Type to Search...">
						<button class="btn-search" id="searchButton"><i class="fas fa-search"></i></button>
					</div>
					<div id="searchResults"></div> <!-- This will hold the dynamic search results -->
				</div>


			</div>
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
					<li class="nav-item dropdown active">
						<% if (user) { %>
							<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<%= user.name%>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="/profile">Profile</a>
								<a class="dropdown-item" href="/logout">Logout</a>
							</div>
							<% } else { %>
								<a class="nav-link" href="/login">Login</a>
								<% } %>

					</li>
					<li class="nav-item"><a href="/shop" class="nav-link">shop</a></li>
					<li class="nav-item"><a href="/wishlist" class="nav-link">Wishlist</a></li>
					<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
					<li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span
								class="icon-shopping_cart"></span></a></li>
				</ul>
			</div>
			</div>
		</nav>

		<div class="hero-wrap hero-bread" style="background-image: url('/winkel/images/bg_6.jpg');">
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-9 ftco-animate text-center">
						<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span>
							<span>Products</span>
						</p>
						<h1 class="mb-0 bread">Collection Products</h1>
					</div>
				</div>
			</div>
		</div>

		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-lg-9 order-md-last">
						<div class="row" id="productList">
							<% products.forEach(product=> { %>
								<div class="col-sm-6 col-md-6 col-lg-4 ftco-animate product-card"
									data-name="<%= product.productName.toLowerCase() %>">
									<div class="product">
										<a href="/singleProduct/?variantColor=<%= product.variants[0].color %>&id=<%= product._id %>"
											class="img-prod">
											<% if (product.variants.length> 0 &&
												Array.isArray(product.variants[0].images)) { %>
												<img class="img-fluid" src="<%= product.variants[0].images[0] %>"
													alt="Product Image">
												<% } else { %>
													<img class="img-fluid" src="path/to/default-image.jpg"
														alt="No Image Available">
													<% } %>
														<span class="status"></span>
														<div class="overlay"></div>
										</a>
										<div class="text py-3 px-3">
											<h3><a href="#">
													<%= product.productName %>
												</a></h3>
											<div class="d-flex">
												<div class="pricing">
													<p class="price">
														<% if (product.variants.length> 0) { %>
															<span class="price-sale">$<%= product.variants[0].price %>
															</span>
															<% } else { %>
																<span class="price-sale">Price Not Available</span>
																<% } %>
													</p>
												</div>
												<div class="rating">
													<p class="text-right">
														<% for (let i=0; i < 5; i++) { %>
															<% if (i < product.rating) { %>
																<a href="#"><span class="ion-ios-star"></span></a>
																<% } else { %>
																	<a href="#"><span
																			class="ion-ios-star-outline"></span></a>
																	<% } %>
																		<% } %>
													</p>
													<p class="bottom-area d-flex px-3">
														<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add
																to cart <i class="ion-ios-add ml-1"></i></span></a>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<% }); %>
						</div>
						<div class="row mt-5">
							<div class="col text-center">
								<div class="block-27">
									<ul>
										<% if (currentPage> 1) { %>
											<li><a href="/shop?page=<%= currentPage - 1 %>">&lt;</a></li>
											<% } else { %>
												<li class="disabled"><span>&lt;</span></li>
												<% } %>

													<% for (let i=1; i <=totalPages; i++) { %>
														<% if (i===currentPage) { %>
															<li class="active"><span>
																	<%= i %>
																</span></li>
															<% } else { %>
																<li><a href="/shop?page=<%= i %>">
																		<%= i %>
																	</a></li>
																<% } %>
																	<% } %>

																		<% if (currentPage < totalPages) { %>
																			<li><a
																					href="/shop?page=<%= currentPage + 1 %>">&gt;</a>
																			</li>
																			<% } else { %>
																				<li class="disabled"><span>&gt;</span>
																				</li>
																				<% } %>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="sort-container">
						<label for="sortOptions">Sort By:</label>
						<div class="dropdown">
							<button class="dropbtn">Select Sort Option</button>
							<div class="dropdown-content" id="sortOptions">
								<a href="#" data-value="alphabetical-az">Alphabetical (A-Z)</a>
								<a href="#" data-value="alphabetical-za">Alphabetical (Z-A)</a>
								<a href="#" data-value="price-low-high">Price: Low to High</a>
								<a href="#" data-value="price-high-low">Price: High to Low</a>
							</div>
						</div>
						<button id="sortButton">Sort</button>
					</div>


				</div>
			</div>
		</section>

		<%- include('../layout/footer') -%>
			<script>
				
			</script>